/* src/App.css */
/* src/App.css */
.App {
  text-align: center;
  padding: 20px;
}

h1 {
  color: #333;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  list-style-type: none;
}

li {
  border: 1px solid #ddd;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  flex: 1 0 21%; /* Adjust for the number of items per row */
  box-sizing: border-box;
  max-width: 21%; /* Ensures it doesn't grow beyond this width */
}

li h2 {
  margin: 0;
  color: #007bff;
}

li p {
  margin: 5px 0;
  color: #555;
}
