/* src/App.css */
/* src/App.css */
.App {
  text-align: center;
  padding: 20px;
}

h1 {
  color: #333;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  list-style-type: none;
}

li {
  border: 1px solid #ddd;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  flex: 1 0 21%; /* Adjust for the number of items per row */
  box-sizing: border-box;
  max-width: 21%; /* Ensures it doesn't grow beyond this width */
  transition: transform 0.3s ease, background-color 0.3s ease;
}

/* Media queries for responsiveness */
@media (max-width: 1024px) {
  li {
    flex: 1 0 30%; /* 3 items per row */
    max-width: 30%;
  }
}

@media (max-width: 768px) {
  li {
    flex: 1 0 45%; /* 2 items per row */
    max-width: 45%;
  }
}

@media (max-width: 480px) {
  li {
    flex: 1 0 100%; /* 1 item per row */
    max-width: 100%;
  }
}

li h2 {
  margin: 0;
  color: inherit;
}

li p {
  margin: 5px 0;
  color: inherit;
}
