/* src/iplteam.css */

.csk {
    background-color: #f8d800;
    color: #000;
  }
  
  .dc {
    background-color: #174ea6;
    color: #fff;
  }
  
  .kxip {
    background-color: #d11a2a;
    color: #fff;
  }
  
  .kkr {
    background-color: #3b2b7c;
    color: #fff;
  }
  
  .mi {
    background-color: #004ba0;
    color: #fff;
  }
  
  .rr {
    background-color: #ea1a84;
    color: #fff;
  }
  
  .rcb {
    background-color: #000;
    color: #d11a2a;
  }
  
  .srh {
    background-color: #f47216;
    color: #000;
  }
  